/* font style */

    .open-sans-normal{
      font-family: "Open Sans", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
        "width" 100;
}
/* share style */

.secondary-bg{
background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}.section-description{
    font-size: 18px;
    color: #757575;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;   
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;

}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 235px;
}
.banner-content{
    max-width:580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: bold;
    color: #757575;
}
.banner-description{
    font-size:15px;
    color:#474747;
}
.banner-profile-picture{
    display: flex;
   width: 400px;
   height: 600px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about */
.about{
    border-radius: 10px;
padding: 50px 50px;
text-align: center;
margin-top: 70px;
}
.about-items{
    display: flex;
 justify-content: space-around;
 color:#757575;
 font-weight: regular;

}
.item-description{
    font-size: 15px;
    font-weight: bold;
    color: #757575;

}
.ittem-tittle{
    font-size: 35px;
    font-weight: semibold;
}
/* what i do  */
.section-tittle{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    text-align: center;
    font-size: 15px;
    color: #757575;
    font-weight: regular;
}
.skills-container{
    display: flex;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.skill-item{
    gap: 24px;
    padding:40px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    
}
.skill{

    border-radius: 5px;
    padding: 40px;
}
.skill-description-ds{
    font-size: 15px;
    color: #757575;
    font-weight: regular;
    padding-block: 20px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}

.resume-download-cv{
  
   margin-top: 50px;
}

/* footer styles */
footer{
    padding: 70px 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.footer-column{
    width: 100%;
    
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display:block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}